<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doubt_Resolver</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.15.0/css/all.css">
    <link rel="stylesheet" href="/css/landingPage.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/signUp.css">
</head>
<body>
    
<div class="outerMostDivForNav">
    <div class="leftNav">
        <p class="companyName">Quora</p>
        <button class="homeButton"><i class="fad fa-home fa-2x"></i></button>
    </div>
    <div class="middleNav">
        <div class="searchBarWrap">
            <i class="fas fa-search" id="searchIcon"></i>
            <input type="text" id="searchBarId" placeholder="Search Question"/>
        </div>
    </div>
    <div class="rightNav">
        <div class="userWrap">
            <button class="profileButton"><i class="fal fa-user fa-2x"></i></button>
        </div>
    </div>
</div>