<%- include('partials/header.ejs') %>

<form method="POST" action="/profile" enctype="multipart/form-data">
    <input type="file" name="avatar" />
    <button type="submit">Submit</button>
</form>

<%- include('partials/footer.ejs') %>