body {
    margin: 0;
    height: 100vh;
    place-items: center;
    /* font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; */
    
}

textarea {
    /* border: none; */
    outline: none; 
    resize: none;
    font-size: 1rem;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;;
}

h1 {
    margin: 0;
    font-size: 1.5em;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #333;
    font-weight: normal;
    font-style: normal;
}
h2{
    padding: 0.5rem;
    margin: 0;
    font-size: 1em;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #333;
    font-weight: normal;
    font-style: normal;
}

.askQuesDiv {
    width: 50%;
    margin: 0 auto;
    margin-top: 10vh;
    border: 10px groove rgb(138, 49, 49);
    height: 40vh;
    
}

.askQuesDiv h1 {
    margin: 0 auto;
    text-align: center;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
   
}

.question_form {
    width: 90%;
    height: 90%;
    margin:auto;
}

#quesInput {
    width: 95%;
    height: 60%;
    margin: auto;
    border-radius: 0.5rem;
    border: 0.5rem groove rgb(87, 28, 67);
}

.ques_button {
    display: block
}

.outerDivForQuestions {
    width: 50%;
    margin: 0 auto;
    margin-top: 10vh;
    border: 0.5rem groove rgb(138, 49, 49);
}

.divShowingQuestion,
.divShowingAnswer,
.divShowingComment {
    margin: 1em 2em;
    /* margin-bottom: 1 rem; */
}

/* hr before Answer Section */


/* answer section */

.divShowingAnswer {
    border-top: 1px solid #dee0e1;
    display: flex;
    flex-direction: column;
}

.userInfo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 1em;
}

.userDP {
    margin-right: 0.5em;
}

.nameAndDate {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.userNameAnswer,
.userDateAnswer {
    font-size: 1em;
    font-weight: bold;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.userDateAnswer {
    color: #ccc;
    font-size: 0.8em;
    margin-top: 0.2em;
}

.userNameComment,
.userDateComment {
    font-size: 0.8em;
    font-weight: bold;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.userDateComment {
    color: #ccc;
    font-size: 0.7em;
    margin-top: 0.2em;
}

.userImage {
    width: 3.1em;
    height: 3.1em;
    border-radius: 50%;
}

.userImageComment {
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
}

.divToWriteAns,
.divToWriteComment,
.divToWriteSubComment {
    display: flex;
    justify-content: space-between;
    margin: 2em;
    margin-top: 1em;
    align-items: center;
    background-color: #eff2f5;
    /* padding: 0.5rem; */
    padding-left: 1rem;
    border-radius: 2rem;
    
}

.divToWriteSubComment{
    margin-left: 0
}

.ansInput,
.commentInput {
    margin: 0 auto;
    flex-grow: 3;
    margin-right:0.5rem;
    width: 90%;
    border: none;
    outline: none; 
    background-color: transparent;
    /* border: 5px solid black; */
   
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: rgb(252, 178, 191);
    font-size: 1rem;
  }

.ans_button,
.comment_button {
    background-color: #4ec0e6;
    border: none;
    color: white;
    padding: 0.5em 0.8em;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 2em;
    white-space: nowrap;
   
}

.questionOptions,
.answerOptions,
.commentOptions,
.subCommentOptions {
    display: flex !important;
    justify-content: space-between;
    margin: 0.5em 0em;
    padding: 0.5em;
}

.subCommentOptions {
    padding-left: 0;
}


.upAndDownVote {
    display: flex;
    justify-content: space-between;
}

.buttonForUp,
.buttonForDown {
    margin-right: 1em
}


/* comment section */

.divShowingComment {
    margin-left: 4em;
    border-left: 2px solid #dee0e1;
    padding-left: 1em;
}

