body {
    margin: 0;
    height: 100vh;
    place-items: center;
    
}

.outerMostDivForNav {
    height: 10vh;
    background-color: rgb(245, 241, 241);
    display: flex;
    justify-content: space-evenly;
    padding: 1rem auto;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.leftNav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.companyName {
    font-size: 2rem;
    margin-right: 1rem;
}

.homeButton {
    border: none;
    background: none;
    cursor: pointer;
}

.middleNav {
    display: flex;
    align-items: center;
}

.searchBarWrap {
    display: flex;
    align-items: center;
    background-color: #eff2f5;
    padding: 0.5rem;
    background-color: transparent;
    border: 1px solid #dee0e1;
    /* padding-left: 1rem; */
    /* border-radius: 2rem; */
}

#searchIcon {
    padding: 0 0.5rem;
}

#searchBarId {
    height: 4vh;
    width: 25vw;
    border: none;
    outline: none;
    background-color: transparent;
}

.rightNav {
    display: flex;
    align-items: center;
}

.profileButton {
    border: none;
    background: none;
    cursor: pointer;
}